<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Информационно-справочная система общежития вуза</title>
    <link rel="stylesheet" href="/main.css" />
    <link favicon="/favicon.ico" />
</head>

<body>
<main class="main">
    <!-- кнопка смены цветовой темы -->
    <div class="main__light-switch">
        <svg class="main__light-switch--light" stroke="currentColor" fill="currentColor"
             stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M14.768 3.96v.001l-.002-.005a9.08 9.08 0 0 0-.218-.779c-.13-.394.21-.8.602-.67.29.096.575.205.855.328l.01.005A10.002 10.002 0 0 1 12 22a10.002 10.002 0 0 1-9.162-5.985l-.004-.01a9.722 9.722 0 0 1-.329-.855c-.13-.392.277-.732.67-.602.257.084.517.157.78.218l.004.002A9 9 0 0 0 14.999 6a9.09 9.09 0 0 0-.231-2.04ZM16.5 6c0 5.799-4.701 10.5-10.5 10.5-.426 0-.847-.026-1.26-.075A8.5 8.5 0 1 0 16.425 4.74c.05.413.075.833.075 1.259Z">
            </path>
        </svg>
        <svg class="main__light-switch--dark main__light-switch--disabled" stroke="currentColor" fill="currentColor" stroke-width="0"
             viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path
                    d="m6.76 4.84-1.8-1.79-1.41 1.41 1.79 1.79zM1 10.5h3v2H1zM11 .55h2V3.5h-2zm8.04 2.495 1.408 1.407-1.79 1.79-1.407-1.408zm-1.8 15.115 1.79 1.8 1.41-1.41-1.8-1.79zM20 10.5h3v2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm0 10c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm-1 4h2v2.95h-2zm-7.45-.96 1.41 1.41 1.79-1.8-1.41-1.41z">
            </path>
        </svg>
    </div>
    <!-- кнопка смены вида отображения -->
    <div class="main__view-switch">
        <svg class="main__light-switch--table main__view-switch--disabled" stroke="currentColor" fill="currentColor"
             stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 208H676V232h212v136zm0 224H676V432h212v160zM412 432h200v160H412V432zm200-64H412V232h200v136zm-476 64h212v160H136V432zm0-200h212v136H136V232zm0 424h212v136H136V656zm276 0h200v136H412V656zm476 136H676V656h212v136z">
            </path>
        </svg>
        <svg class="main__light-switch--cards" stroke="currentColor" fill="currentColor" stroke-width="0"
             viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 632H136V232h752v560zM610.3 476h123.4c1.3 0 2.3-3.6 2.3-8v-48c0-4.4-1-8-2.3-8H610.3c-1.3 0-2.3 3.6-2.3 8v48c0 4.4 1 8 2.3 8zm4.8 144h185.7c3.9 0 7.1-3.6 7.1-8v-48c0-4.4-3.2-8-7.1-8H615.1c-3.9 0-7.1 3.6-7.1 8v48c0 4.4 3.2 8 7.1 8zM224 673h43.9c4.2 0 7.6-3.3 7.9-7.5 3.8-50.5 46-90.5 97.2-90.5s93.4 40 97.2 90.5c.3 4.2 3.7 7.5 7.9 7.5H522a8 8 0 0 0 8-8.4c-2.8-53.3-32-99.7-74.6-126.1a111.8 111.8 0 0 0 29.1-75.5c0-61.9-49.9-112-111.4-112s-111.4 50.1-111.4 112c0 29.1 11 55.5 29.1 75.5a158.09 158.09 0 0 0-74.6 126.1c-.4 4.6 3.2 8.4 7.8 8.4zm149-262c28.5 0 51.7 23.3 51.7 52s-23.2 52-51.7 52-51.7-23.3-51.7-52 23.2-52 51.7-52z">
            </path>
        </svg>
    </div>
    <!-- кнопка вызова модального окна справки -->
    <div class="main__rules">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em"
             width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M80 160c0-35.3 28.7-64 64-64l32 0c35.3 0 64 28.7 64 64l0 3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74l0 1.4c0 17.7 14.3 32 32 32s32-14.3 32-32l0-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7l0-3.6c0-70.7-57.3-128-128-128l-32 0C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z">
            </path>
        </svg>
    </div>
    <!-- Заголовок страницы -->
    <h1 class="main__title">Информационно-справочная система общежития вуза</h1>
    <div class="main__input_container">
        <div class="main__filter">
            <!-- Кнопка открытия фильтра -->
            <div class="main__filter__container">
                <div class="main__filter__wrapper">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                         height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z">
                        </path>
                    </svg>
                    <p class="main__filter__text">Фильтры</p>
                    <svg class="main__filter__triangle" stroke="currentColor" fill="currentColor" stroke-width="0"
                         viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M11.646 15.146 5.854 9.354a.5.5 0 0 1 .353-.854h11.586a.5.5 0 0 1 .353.854l-5.793 5.792a.5.5 0 0 1-.707 0Z">
                        </path>
                    </svg>
                </div>
                <!-- Выпадающий список фильтров -->
                <div class="main__filter__dropdown__container">
                    <div class="main__filter__dropdown">
                        <p>Группа</p>
                        <p>Комната</p>
                        <p>Оплатил</p>
                        <p>Очистить</p>
                    </div>
                </div>
            </div>
            <!-- Кнопка открытия подфильтра -->
            <div class="main__subfilter">
                <div class="main__subfilter__dropdown__container">
                    <!-- Выпадающий список подфильтров -->
                    <div class="main__subfilter__dropdown">
                    </div>
                </div>
                <div class="main__subfilter__container">
                    <p class="main__subfilter__text"></p>
                    <svg class="main__subfilter__triangle" stroke="currentColor" fill="currentColor"
                         stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M11.646 15.146 5.854 9.354a.5.5 0 0 1 .353-.854h11.586a.5.5 0 0 1 .353.854l-5.793 5.792a.5.5 0 0 1-.707 0Z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Строка поиска -->
        <div class="main__input_wrapper">
            <input class="main__input" autocomplete="off"
                   placeholder="Введите ФИО студента или номер студенческого билета..." />
            <svg class="main__input_icon" stroke="currentColor" fill="currentColor" stroke-width="0"
                 viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M443.5 420.2L336.7 312.4c20.9-26.2 33.5-59.4 33.5-95.5 0-84.5-68.5-153-153.1-153S64 132.5 64 217s68.5 153 153.1 153c36.6 0 70.1-12.8 96.5-34.2l106.1 107.1c3.2 3.4 7.6 5.1 11.9 5.1 4.1 0 8.2-1.5 11.3-4.5 6.6-6.3 6.8-16.7.6-23.3zm-226.4-83.1c-32.1 0-62.3-12.5-85-35.2-22.7-22.7-35.2-52.9-35.2-84.9 0-32.1 12.5-62.3 35.2-84.9 22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2c22.7 22.7 35.2 52.9 35.2 84.9 0 32.1-12.5 62.3-35.2 84.9-22.7 22.7-52.9 35.2-85 35.2z">
                </path>
            </svg>
        </div>
        <!-- Кнопка выбора сколько студентов нужно отобразить на странице -->
        <div class="main__students__sort__wrapper">
            <div class="main__students__show-by">
                <p>Отображать по</p>
                <div class="main__students__show-by__content">
                    <div class="main__students__show-by__data__wrapper">
                        <p class="main__students__show-by__data">
                            10
                        </p>
                        <svg class="main__students__show-by__triangle" stroke="currentColor" fill="currentColor"
                             stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M11.646 15.146 5.854 9.354a.5.5 0 0 1 .353-.854h11.586a.5.5 0 0 1 .353.854l-5.793 5.792a.5.5 0 0 1-.707 0Z">
                            </path>
                        </svg>
                    </div>
                    <!-- Выпадающий список количества студентов для отображения -->
                    <div class="main__students__show-by__dropdown">
                        <div class="main__students__show-by__dropdown__content">
                            <p>10</p>
                            <p>20</p>
                            <p>50</p>
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Если на странице ничего нет -->
    <div class="main__students__empty">
        <h2>По Вашему запросу ничего не найдено ;(</h2>
    </div>
    <!-- Оболочка для отображения данных -->
    <div class="main__students__wrapper">
        <div class="main__students">
            <!-- Заголовок, если вид отображения "таблица" -->
            <div class="main__students__row main__students__row_header">
                <p>Фамилия</p>
                <p>Имя</p>
                <p>Отчество</p>
                <p>Группа</p>
                <p>Комната</p>
                <p>Номер студенческого билета</p>
                <p>Оплатил</p>
            </div>
            <!-- Сюда рисуются все полученные данные -->
            <div class="main__students__data"></div>
        </div>
        <!-- Если вид отображения "Таблица" сюда рисуются кнопки -->
        <div class="main__students__buttons">
        </div>
    </div>
    <!-- Пагинация -->
    <div class="pagination"></div>
    <!-- Кнопка добавления нового студента -->
    <div class="main__students__add">Добавить студента</div>
    <!-- Модальное окно справки -->
    <div class="popup popup__rules">
        <div class="popup__close popup__rules__close">
            <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 15 15" height="1em" width="1em"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z"
                      fill="currentColor"></path>
            </svg>
        </div>
        <div class="popup__content popup__rules__content">
            <h2>Инструкция по использованию<br>информационно-справочной системы общежития</h2>
            <div>
                <h3>Поиск</h3>
                <p>Поиск может осуществлять по Фамилии, Имени и Отчеству студента, введенных в порядке: Фамилия,
                    Имя,
                    Отчество. Пример:<i> Иванов Иван Иванович</i></p>
                <p>Поиск также может осуществлять по номеру студенческого билета</p>
            </div>
            <div>
                <h3>Фильтры</h3>
                <p>Для более комфортного поиска можно воспользоваться выпадающим списком фильтров по кнопке
                    "Фильтры". Доступны фильтры: "Группа", "Комната", "Оплатил"</p>
                <p>При выборе фильтра "Группа" появится дополнительный выпадающий список с доступными для фильтрации
                    учебными группами студентов</p>
                <p>При выборе фильтра "Комната" появится дополнительный выпадающий список с доступными для
                    фильтрации комнатами, в которых сейчас проживают студенты</p>
                <p>При выборе фильтра "Оплатил" появится дополнительный выпадающий список с вариантами "Да" и "Нет",
                    позволяющий отфильровать студентов оплативших или не оплативших проживание в общежитии</p>
            </div>
            <div>
                <h3>Количество студентов на странице</h3>
                <p>Выпадающий список "Отображать по" дает возможность выбрать из предложенных вариантов, сколько
                    студентов нужно отобразить на странице</p>
            </div>
            <div>
                <h3>Количество студентов на странице</h3>
                <p>Выпадающий список "Отображать по" дает возможность выбрать из предложенных вариантов, сколько
                    студентов нужно отобразить на странице</p>
            </div>
            <div>
                <h3>Основная информация о студентах</h3>
                <p>В таблице отображается основная информация о студентах Фамилия, Имя, Отчество, Номер учебной
                    группы, Номер студенческого билета, Номер комнаты в которой проживает студент и оплатил ли
                    студент проживание в общежитии</p>
                <p>Для более подробной информации о студенте необходимо зайти в редактирование карточки студента</p>
                <p class="popup__rules__content__svg">Также с помощью кнопки <svg stroke="currentColor"
                                                                                  fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em"
                                                                                  xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 208H676V232h212v136zm0 224H676V432h212v160zM412 432h200v160H412V432zm200-64H412V232h200v136zm-476 64h212v160H136V432zm0-200h212v136H136V232zm0 424h212v136H136V656zm276 0h200v136H412V656zm476 136H676V656h212v136z">
                    </path>
                </svg> в правом нижнем углу можно переключить режим отображения основной
                    информации о студентах с таблицы на карточки с кратким описанием</p>
            </div>
            <div>
                <h3>Редактирование карточки студента</h3>
                <p>Если основаная информация о студенте отображается в виде таблице, то для редактирования карточки
                    студента необходимо нажать кнопку <svg stroke="currentColor" fill="currentColor"
                                                           stroke-width="0" viewBox="0 0 512 512" height="100%" width="100%"
                                                           xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                        </path>
                    </svg>
                    находящуюся справа от информации о студенте</p>
                <p>Если основаная информация о студенте отображается в виде карточек с кратким описанием, то для
                    редактирования карточки студента необходимо нажать на саму карточку</p>
                <p>При нажатии на редактирование карточки студента откроется модальное окно, содержащее
                    заблокированные поля с информацией о студенте</p>
                <p>Для того, чтобы отредактировать карточку студента необходимо нажать на кнопку "Редактировать",
                    которая разблокирует для изменения поля с информацией о студенте</p>
                <p>Нельзя оставлять поля с информацией о студенте пустыми</p>
                <p>Нельзя вписывать в поле "Номер студенческого билета" номер, уже существующий в таблице</p>
                <p>В поле "Номер комнаты" можно вводить только числа, номер комнаты не может содержать буквы</p>
                <p>
                    <span>Важно!!!</span> После внесения изменений в карточку
                    студента нужно нажать кнопку "Сохранить" для сохранении внесенных изменений. <span>Если кнопка
                            "Сохранить" не будет нажата, внесенные изменения
                            не сохранятся!</span>
                </p>
            </div>
            <div>
                <h3>Добавление нового студента</h3>
                <p>Под всей информацией о студентах находится кнопка "Добавить студента"</p>
                <p>При нажатии кнопки "Добавить студента" появится модальное окно добавления студента, содержащее
                    поля в которые нужно внести всю информацию о студенте</p>
                <p>Нельзя оставлять поля с информацией о студенте пустыми</p>
                <p>Нельзя вписывать в поле "Номер студенческого билета" номер, уже существующий в таблице</p>
                <p>В поле "Номер комнаты" можно вводить только числа, номер комнаты не может содержать буквы</p>
                <p>
                    <span>Важно!!!</span> После внесения информации в карточку
                    нового
                    студента нужно нажать кнопку "Сохранить" для сохранении информации. <span>Если кнопка
                            "Сохранить" не будет нажата, новый студент не
                            будет создан!</span>
                </p>
            </div>
            <div>
                <h3>Удаление студента</h3>
                <p>Если основаная информация о студенте отображается в виде таблице, то для удаления студента
                    необходимо нажать кнопку <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                  viewBox="0 0 512 512" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                              d="M376 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z">
                        </path>
                        <path fill="none" stroke-miterlimit="10" stroke-width="32"
                              d="M288 304c-87 0-175.3 48-191.64 138.6-2 10.92 4.21 21.4 15.65 21.4H464c11.44 0 17.62-10.48 15.65-21.4C463.3 352 375 304 288 304z">
                        </path>
                        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                              d="M144 232H32"></path>
                    </svg>
                    находящуюся справа от информации о студенте</p>
                <p>Если основаная информация о студенте отображается в виде карточек с кратким описанием, то для
                    удаления студента необходимо нажать на <svg stroke="currentColor" fill="none" stroke-width="0"
                                                                viewBox="0 0 15 15" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z"
                              fill="currentColor"></path>
                    </svg> в правом верхнем углу карточки</p>
                <p>При нажатии на кнопку удаления студента откроется модальное окно удаления студента из таблицы,
                    содержащее две кнопки "Да" и "Отмена"</p>
                <p>При нажатии на кнопку "Да" студент <span>будет</span> удален из
                    таблицы и модальное окно закроется</p>
                <p>При нажатии на кнопку "Отмена" студент <span>не будет</span>
                    удален из таблицы и модальное окно закроется</p>
            </div>
            <div>
                <h3>Изменение визуальной темы</h3>
                <p class="popup__rules__content__svg">При нажатии на кнопку <svg stroke="currentColor"
                                                                                 fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path
                            d="m6.76 4.84-1.8-1.79-1.41 1.41 1.79 1.79zM1 10.5h3v2H1zM11 .55h2V3.5h-2zm8.04 2.495 1.408 1.407-1.79 1.79-1.407-1.408zm-1.8 15.115 1.79 1.8 1.41-1.41-1.8-1.79zM20 10.5h3v2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm0 10c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm-1 4h2v2.95h-2zm-7.45-.96 1.41 1.41 1.79-1.8-1.41-1.41z">
                    </path>
                </svg> можно изменить отображение визуальной темы информационной-справочной системой общежития
                    вуза
                    со светлой на темную и обратно.
                </p>
            </div>
            <div>
                <h3>Инструкция</h3>
                <p class="popup__rules__content__svg">Данная инструкция открывается при нажатии на кнопку <svg
                        stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512"
                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M80 160c0-35.3 28.7-64 64-64l32 0c35.3 0 64 28.7 64 64l0 3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74l0 1.4c0 17.7 14.3 32 32 32s32-14.3 32-32l0-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7l0-3.6c0-70.7-57.3-128-128-128l-32 0C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z">
                    </path>
                </svg>, находящуюся в верхнем правом углу.
                </p>
            </div>
        </div>
        <div class="popup__background popup__rules__background"></div>
    </div>
    <!-- Модальное окно удаления студента -->
    <div class="popup popup__remove">
        <div class="popup__content popup__remove__content">
            <div class="popup__close popup__remove__close">
                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 15 15" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z"
                          fill="currentColor"></path>
                </svg>
            </div>
            <h2>Вы действительно хотите <span>удалить</span> пользователя?</h2>
            <p class="popup__remove__data">Иванов Иван Иванович</p>
            <div class="popup__remove__buttons">
                <button class="popup__remove__confirm">Дa</button>
                <button class="popup__remove__decline">Отмена</button>
            </div>
        </div>
        <div class="popup__background popup__remove__background"></div>
    </div>
    <!-- Модальное окно добавления или редактирования карточки студента -->
    <div class="popup popup__edit popup__edit__row__data--disabled">
        <div class="popup__content popup__edit__content">
            <div class="popup__close popup__edit__close">
                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 15 15" height="1em" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z"
                          fill="currentColor"></path>
                </svg>
            </div>
            <h2 class="popup__edit__title">Редактирование карточки студента</h2>
            <p class="popup__edit__notification">Не забывайте сохранять изменения до выхода из карточки!</p>
            <div class="popup__edit__row">
                <p class="popup__edit__row__title">Фамилия:</p>
                <input class="popup__edit__row__data" value="">
            </div>
            <div class="popup__edit__row">
                <p class="popup__edit__row__title">Имя:</p>
                <input class="popup__edit__row__data" value="">
            </div>
            <div class="popup__edit__row">
                <p class="popup__edit__row__title">Отчество:</p>
                <input class="popup__edit__row__data" value="">
            </div>
            <div class="popup__edit__row">
                <p class="popup__edit__row__title">Номер группы:</p>
                <input class="popup__edit__row__data" value="">
            </div>
            <div class="popup__edit__row">
                <p class="popup__edit__row__title">Номер комнаты:</p>
                <input class="popup__edit__row__data" value="">
                <div class="popup__edit__error popup__edit__error_room">
                    <div class="popup__edit__error__content">

                    </div>
                </div>
            </div>
            <div class="popup__edit__row popup__edit__error__wrapper">
                <p class="popup__edit__row__title">Номер студенческого билета:</p>
                <input class="popup__edit__row__data" value="">
                <div class="popup__edit__error popup__edit__error_student-card">
                    <div class="popup__edit__error__content">
                        <p>Студент с таким номером студенческого билета уже существует!</p>
                    </div>
                </div>
            </div>
            <div class="popup__edit__row">
                <p class="popup__edit__row__title">Номер телефона:</p>
                <input class="popup__edit__row__data" value="">
            </div>
            <div class="popup__edit__row">
                <p class="popup__edit__row__title">Проживание оплачено:</p>
                <div class="popup__edit__dropdown">
                    <div class="popup__edit__dropdown__content">
                        <p class="popup__edit__dropdown__data">да</p>
                        <svg class="main__edit__triangle" stroke="currentColor" fill="currentColor" stroke-width="0"
                             viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M11.646 15.146 5.854 9.354a.5.5 0 0 1 .353-.854h11.586a.5.5 0 0 1 .353.854l-5.793 5.792a.5.5 0 0 1-.707 0Z">
                            </path>
                        </svg>
                    </div>
                    <div class="popup__edit__dropdown__wrapper">
                        <div class="popup__edit__dropdown__container">
                            <p>да</p>
                            <p>нет</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__edit__buttons">
                <button class="popup__edit__button-edit">Редактировать</button>
                <button class="popup__edit__button-save popup__edit__buttons--disabled">Сохранить</button>
            </div>
        </div>
        <div class="popup__background popup__edit__background"></div>
    </div>
</main>
</body>

<script type="module" src="/main.js"></script>

</html>